/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #00bfa5;
  padding: 20px;
  text-align: center;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.form-container {
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #00bfa5;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

#result-container {
  margin-top: 40px;
  display: none;
}

h3 {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.url-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #00bfa5;
  margin-right: 10px;
  overflow-wrap: break-word;
}

.copy-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #00bfa5;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* Toastify styles */

.Toastify__toast {
  background: #333;
  color: #fff;
  border-radius: 4px;
}

.Toastify__toast {
  background: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px 16px;
}

.Toastify__toast--info {
  background: linear-gradient(to right, #00bfa5, #1de9b6);
}

/* Analytics Styles */

.analytics-container {
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

#analytics-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#analytics-table thead {
  text-align: left;
  background-color: #f5f5f5;
  color: #333;
}

#analytics-table th,
#analytics-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#analytics-table th:nth-child(1),
#analytics-table td:nth-child(1) {
  max-width: 200px;
  overflow-wrap: break-word;
}

#analytics-table th:nth-child(4),
#analytics-table td:nth-child(4) {
  text-align: center;
}

.delete-button {
  padding: 8px;
  background-color: #ff1744;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Mobile responsiveness */

@media (max-width: 768px) {
  main {
    width: 100%;
    padding: 10px;
  }

  header {
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }

  .form-container {
    padding: 10px;
  }

  #result-container {
    margin-top: 20px;
  }

  #analytics-table {
    overflow-x: auto;
  }

  #analytics-table thead {
    position: sticky;
    top: 0;
  }

  #analytics-table tbody {
    display: block;
    overflow: auto;
    max-height: 300px;
  }

  #analytics-table tr {
    display: block;
    border-bottom: 1px solid #ddd;
  }

  #analytics-table td,
  #analytics-table th {
    display: block;
    padding: 10px;
    text-align: left;
  }

  #analytics-table td:before {
    display: block;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  .url-container {
    flex-wrap: wrap;
    margin-top: 5px;
  }

  .url-container a {
    text-decoration: none;
    color: #00bfa5;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .copy-button {
    margin-top: 10px;
  }
}
